html,
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: #fff;
}

body {
  background: url(./background-images/01d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.weather-city {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-city p {
  display: inline-block;
  vertical-align: top;
}

.weather-header {
  font-weight: 700;
}

#weatherHeaderCountry {
  font-weight: 600;
}

/* --------- start weather section --------- */

.weather-container {
  min-height: calc(100vh - 40px);
  width: 100%;
}

.weather-condition {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-condition {
  margin: 0;
  padding: 0;
}

.weather-icon-container {
  width: 40%;
  max-width: 425px;
  min-width: 250px;
  margin-bottom: -40px;
}

.weather-icon {
  height: auto;
  width: 100%;
}

.loading-display-container {
  display: none;
}

.loading-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 05px solid #f2f2f2;
  border-top: 05px solid #7a7a7a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate();
  }
  100% {
    transform: rotate(360deg);
  }
}

.weather-temp {
  font-size: clamp(150px, 20vw, 250px);
  padding: 0;
  margin: 0;
  text-align: center;
  /* text-shadow: 2px 2px 4px rgba(59, 59, 59, 0.356); */
}

.weather-description {
  font-size: 18px;
  font-weight: 700;
}

.high-low-temp {
  display: inline-block;
}

.high-low-container {
  padding: 0;
  margin: -20px;
}

.high-low-temp {
  font-size: 18px;
  font-weight: 500;
}

/* ----- forecast section ----- */
.forecast-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forecast-list {
  width: 70%;
}

.forecast-days {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast-image {
  height: auto;
  width: 5%;
  min-width: 40px;
}

.forecast-hiLow {
  white-space: pre;
}

.forecast-week-day {
  margin-right: 300px;
}

/* ----- hourly forecast ----- */

.hourly-forecast-container {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hourlyWeather-card {
  height: 200px;
  max-width: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hourlyTimeOfDay {
  font-size: 20px;
}

.hourly-image {
  height: auto;
  width: 100px;
  min-width: 40px;
}

.hourly-temp {
  font-size: 20px;
}

/* ----- Weather Data ------ */

.weather-data-container {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 400px);
  justify-content: center;
  align-items: center;
}

.data-card {
  background-color: rgba(147, 147, 147, 0.523);
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
}

.data-title {
  padding: 0;
  margin: 0;
}

.data-item {
  padding: 0;
  margin: 0;
}

.data-title {
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 40px;
}

.data-item {
  font-weight: 500;
  font-size: 120px;
}

.data-item-words {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 70px;
  text-align: center;
}

.mph {
  padding: 0;
  margin: 0;
  font-size: 30px;
}
