html,
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom left, #edfdff, #fffefe);
}

.weather-container {
}

.weather-city {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-city p {
  display: inline-block;
  vertical-align: top;
}

.weather-header {
  font-weight: 700;
}

.loading-display-container {
  display: none;
}

.loading-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 13px solid #f2f2f2;
  border-top: 13px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate();
  }
  100% {
    transform: rotate(360deg);
  }
}

.weather-condition {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-temp {
  font-size: 120px;
  padding: 0;
  margin: 0;
}

.weather-condition {
  margin: 0;
  padding: 0;
}

.high-low-temp {
  display: inline-block;
}

.weather-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18%;
  width: 100%;
}

.weather-icon {
  height: 100%;
  width: auto;
}
