html,
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: #fff;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  /* background-color: rgb(147, 147, 147); */
  background: url(./background-images/01d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

/* ------- nav section -------- */
.navbar {
  /* height: 50px; */
  z-index: 98;
  background-color: rgb(147, 147, 147);
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.search-container {
  position: absolute;
  margin: 0 auto;
  flex: 0 1 auto;
}
.searchBar {
  padding: 6px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 17px;
  /* margin-left: auto; */
}

.search-button {
  float: right;
  padding: 6px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  background: #ddd;
  border-radius: 0 5px 5px 0;
}

.list-icon {
  padding: 8px 20px 8px 0;
  font-size: 30px;
  margin-left: auto;
  flex: 0 1 auto;
}

#navIcon:hover {
  cursor: pointer;
  color: blue;
  transition: 0.3s;
}

/* ---- nav menu open ---- */
.nav-menu {
  display: none;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 1000;
  background-color: rgb(147, 147, 147);
  height: 100%;
  width: 100%;
}

.close-icon-container {
  padding: 3px 20px 8px 0;
  font-size: 35px;
  text-align: right;
}

#closeNavIcon:hover {
  cursor: pointer;
  color: blue;
  transition: 0.3s;
}

/* ------- end nav section ------ */

.weather-city {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-city p {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  padding-top: 10px;
  text-shadow: 2px 2px 4px rgba(59, 59, 59, 0.356);
}

.weather-header {
  font-weight: 700;
}

#weatherHeaderCountry {
  font-weight: 600;
}

/* --------- start weather section --------- */

.main-weather-container {
  min-height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-icon-container {
  width: 40%;
  max-width: 425px;
  min-width: 350px;
  margin-bottom: -40px;
}

.weather-icon {
  height: auto;
  width: 100%;
}

.loading-display-container {
  display: none;
}

.loading-container {
  height: 30vh;
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 05px solid #fff;
  border-top: 05px solid #7a7a7a00;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate();
  }
  100% {
    transform: rotate(360deg);
  }
}

.weather-temp {
  min-height: 0vw;
  font-size: clamp(150px, 20vw, 250px);
  font-weight: 400;
  padding: 40px 0 0 0;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(59, 59, 59, 0.356);
}

.weather-description {
  font-size: 20px;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(59, 59, 59, 0.356);
}

.high-low-temp {
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(59, 59, 59, 0.356);
}

.high-low-container {
  padding: 0;
  margin: -20px;
}

.high-low-temp {
  font-size: 18px;
  font-weight: 500;
}

/* ----- forecast section ----- */
.forecast-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0 50px 0;
}

.forecast-card {
  width: 75%;
  max-width: 1000px;
  background-color: rgba(147, 147, 147, 0.523);
  padding: 30px;
  border-radius: 30px;
}

.forecast-header {
  font-size: 23px;
  font-weight: 500;
  position: relative;
  bottom: 13px;
}

.forecast-days {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 5px 0;
}

.forecast-image {
  height: auto;
  width: 7%;
  min-width: 50px;
  padding-right: 10px;
}
.forecast-week-day {
  margin-right: 500px;
  font-size: 19px;
  font-weight: 700;
}

.forecast-hiLow {
  white-space: pre;
  font-size: 19px;
  font-weight: 700;
  margin-right: 20px;
}

/* ----- hourly forecast ----- */

.hourly-forecast-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.forecast-header-hourly {
  font-size: 23px;
  font-weight: 500;
  padding: 15px 0 0 30px;
}

.hourly-card-wrapper {
  background-color: rgba(147, 147, 147, 0.523);
  width: 88%;
  max-width: 1000px;
  border-radius: 30px;
  padding-bottom: 15px;
}

.hourly-card-container {
  display: flex;
  overflow: scroll;
}

.hourlyWeather-card {
  height: 200px;
  max-width: 200px;
  padding: 0 10px 0 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.hourlyTimeOfDay {
  font-size: 20px;
}

.hourly-image {
  width: 100%;
  height: auto;
  min-width: 90px;
}

.hourly-temp {
  font-size: 20px;
}

/* ----- Weather Data ------ */
.data-section {
  display: flex;
  justify-content: center;
}

.weather-data-container {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 45%);
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  width: 80%;
  max-width: 1000px;
}

.data-card {
  background-color: rgba(147, 147, 147, 0.523);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
}

.card-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.data-title {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.data-item {
  padding: 0;
  margin: 0;
}

.data-title {
  font-weight: 700;
  min-height: 0vw;
  font-size: clamp(20px, 4.5vw, 70px);
  padding: 20px 0 30px 0;
}

.data-item {
  font-weight: 500;
  min-height: 0vw;
  font-size: clamp(50px, 10vw, 150px);
}

.data-text {
  padding: 0;
  margin: 0;
  min-height: 0vw;
  font-size: clamp(20px, 3vw, 30px);
}

footer {
  text-align: center;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(59, 59, 59, 0.356);
}

footer > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

footer > a:hover {
  color: rgb(171, 0, 171);
  transition: 0.5s;
}

/* ----------------- Mobile Section ---------------  */

/* Main */

/* ForeCast */

@media screen and (max-width: 1360px) {
  .forecast-week-day {
    margin-right: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .forecast-week-day {
    margin-right: 185px;
  }
}

@media screen and (max-width: 800px) {
  .forecast-week-day {
    margin-right: 105px;
  }
}

@media screen and (max-width: 640px) {
  .forecast-week-day {
    margin-right: 55px;
  }
}

@media screen and (max-width: 460px) {
  .forecast-header {
    font-size: 18px;
    font-weight: 500;
  }

  .forecast-week-day {
    margin-right: 20px;
  }

  .forecast-hiLow {
    font-size: 17px;
    font-weight: 700;
    margin-right: 0;
  }

  .forecast-week-day {
    font-size: 16px;
    font-weight: 700;
  }
}

/* Hourly */
@media screen and (max-width: 820px) {
  .hourly-card-container {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hourly-card-container::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .forecast-header-hourly {
    font-size: 18px;
    font-weight: 500;
  }
}

/* Data Cards */
@media screen and (max-width: 960px) {
  .weather-data-container {
    gap: 20px;
  }
}

@media screen and (max-width: 640px) {
  .data-title {
    white-space: normal;
    text-align: center;
    padding: 0px 0 10px 0;
  }
  .data-card {
    height: 180px;
  }
  .weather-data-container {
    gap: 40px;
  }
}

@media screen and (max-width: 460px) {
  .data-title {
    font-size: 15px;
    font-weight: 600;
  }

  .data-card {
    height: 150px;
  }

  .data-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 420px) {
  footer {
    font-size: 12px;
  }
}
